/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
.grid{
  display: inline-block;
  width: auto;
  min-width: 170px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  margin-left: 15px;
  margin-bottom: 15px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
.ad{
  display: inline-block;
  float: right;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  margin-left: 15px;
  margin-bottom: 15px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
.ad img{
  object-fit: cover;
  width: 170px !important;
  height: 122px;
}
.h_img{
  padding: 1px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  width: 250px;
  margin: 10px auto;
  display: block;
}