

<div  ng-controller="View1Ctrl">

    <div class="row">
        <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1 style="text-align: center">Discount ASCII Warehouse</h1>
                <div style="text-align: center">Sponsered Ad:</div>
                <img class='h_img' src='http://placekitten.com/320/200?image={{imgSrcs[9]}}' alt='advertisement' />
            </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">

        <div>
            <div name="myForm" style="width: 165px;margin: 20px auto;">
                <label for ="singleSelect"> Sort: </label>
                <select name="singleSelect" id="singleSelect" ng-init="data.singleSelect='none'" ng-model="data.singleSelect" style="width: 90px" ng-change="ff()">
                    <option value="none">None</option>
                    <option value="size">Size</option>
                    <option value="price">Price</option>
                    <option value="id">ID</option>
                </select>
            </div>
        </div>

    </div>

    <div id="page" class="row" >
        <div style="display: inline-block;" ng-repeat="datas in data" >
        <div class="grid" style="height: 100%" >
            <div>
                <p style="text-align: center">{{datas.face}}</p>
                <p style="text-align: center">Price: ${{datas.price}}</p>
                <p style="text-align: center">Date: {{datas.displayDate}}</p>
            </div>
        </div>

        <div class="ad" ng-if="($index+1)%20==0">
            <img  src='http://placekitten.com/320/200?image={{imgSrcs[$index%9]}}' alt='advertisement' style="width: 100%" />
        </div>
        </div>

    </div>
    <div ng-if="loadMore" style="text-align: center">loading...</div>
    <div ng-if="!loadMore" style="text-align: center">end of catalogue</div>

</div>
